body {
    font-family: sans-serif;
}

/* layout con CSS Grid */

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    "header header" 
    "nav    nav" 
    "main   aside" 
    "footer footer";
}

header {
    grid-area: header;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
}

nav {    
    margin-top: -20px;
    grid-area: nav;
}

.main {
    grid-area: main;
    padding: 10px;
}

aside {
    grid-area: aside;
    padding: 0;
    max-width: 310px;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: 12px;
    color: gray;
    padding-bottom: 30px;
}

footer hr {
    margin-bottom: 30px;
}

.nav-link {
    color: white !important;
}

#foto-guillermo {
    border: solid 4px gray;
    border-radius: 50%;
}

#acercade {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas: 
    "foto info";
}

#acercade .foto {
    grid-area: foto;
}

#acercade .info {
    grid-area: info;
}

.sig-ant {
    margin-top: 20px;
    border: 1px solid lightgrey;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
}

.sig-ant a {
    text-decoration: none;
}
.sig-ant:hover {
    box-shadow: 4px 4px 10px gray;
}

h1, h2, h3, h4, h5 {
    color: #dc3545;
}

header h1 {
    color: white;
}

p {
    line-height: 20px;
}